
/*Products Container*/
.productsContainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-items: center;
    justify-content: center;
}

/*Product card*/
.productsCard
{
    width:200px;
    height:200px;
    margin:5px;
    border:1px solid black;
    box-shadow: 0px 2px 2px #0000006b;

    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

