/*Components Container*/
.componentsContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    gap: 10px;
}

.componentsContainer>*
{
    border:1px solid black;
}