<header>
  <nav>
    <ul>
      <li>
        <a [routerLink]="['/feature-1']" routerLinkActive="activeLink">Feature 1</a>
      </li>
      <li>
        <a [routerLink]="['/feature-2']" routerLinkActive="activeLink">Feature 2</a>
      </li>
      <li>
        <a [routerLink]="['/feature-3']" routerLinkActive="activeLink">Feature 3</a>
      </li>
      <li>
        <a [routerLink]="['/feature-4']" routerLinkActive="activeLink">Feature 4</a>
      </li>
      <li>
        <a [routerLink]="['/feature-5']" routerLinkActive="activeLink">Feature 5</a>
      </li>
      <li>
        <a [routerLink]="['/feature-6']" routerLinkActive="activeLink">Feature 6</a>
      </li>
    </ul>
  </nav>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
