/* You can add global styles to this file, and also import other style files */
:root
{
    font-size:16px; //Root size

    --text_sm:0.8rem;
    --text-xsm:0.6rem;
    --text-1:1rem;
    --text-md:1.2rem;
    --text-lg:1.4rem;
    --text-xl:1.6rem;

    --primary-color:hsl(120, 85%, 33%);
    --secondary-color:hsl(120, 30%, 33%);
    color:rgb(32, 32, 32);
    
}

html,body
{
    margin: 0px;
    padding: 0px;
}

/*Active link css*/
a
{
    text-decoration: underline;
    color:var(--primary-color);
}
.activeLink
{
    color:hsl(207, 100%, 50%);
}